ADF-nagp-assignment.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_AzureDataLakeStorage":{"type":"string"},"AzureSqlDatabase2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/ADF-nagp-assignment')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data from input to stage","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SourceData","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Stage_Data","type":"DatasetReference","parameters":{}}]},{"name":"Archive data from input","type":"Copy","dependsOn":[{"activity":"Copy data from input to stage","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"MergeFiles"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SourceData","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ArchivedInput","type":"DatasetReference","parameters":{}}]},{"name":"Validate_Data","type":"ExecuteDataFlow","dependsOn":[{"activity":"Copy data from input to stage","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"DataFlowProcessor","type":"DataFlowReference","parameters":{},"datasetParameters":{"Staging":{},"ExportDatatoTable":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Delete input file","type":"Delete","dependsOn":[{"activity":"Archive data from input","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"SourceData","type":"DatasetReference","parameters":{}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*.csv","enablePartitionDiscovery":false}}},{"name":"Archive data from Stage","type":"Copy","dependsOn":[{"activity":"Validate_Data","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"MergeFiles"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Stage_Data","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ArchivedInput","type":"DatasetReference","parameters":{}}]},{"name":"Delete Stage File","type":"Delete","dependsOn":[{"activity":"Archive data from Stage","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Stage_Data","type":"DatasetReference","parameters":{}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*.csv","enablePartitionDiscovery":false}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2022-12-06T19:42:57Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SourceData')]","[concat(variables('factoryId'), '/datasets/Stage_Data')]","[concat(variables('factoryId'), '/datasets/ArchivedInput')]","[concat(variables('factoryId'), '/dataflows/DataFlowProcessor')]"]},{"name":"[concat(parameters('factoryName'), '/SourceData')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"nagp-input-container"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"lat","type":"String"},{"name":"lon","type":"String"},{"name":"temp","type":"String"},{"name":"date","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Stage_Data')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"nagp-staging-container"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"lon","type":"String"},{"name":"lat","type":"String"},{"name":"temp","type":"String"},{"name":"date","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ArchivedInput')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"nagp-archive-container"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DataFlowProcessor')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Stage_Data","type":"DatasetReference"},"name":"Staging"}],"sinks":[{"dataset":{"referenceName":"AzureSqlTable1","type":"DatasetReference"},"name":"ExportDatatoTable","rejectedDataLinkedService":{"referenceName":"[parameters('LS_AzureDataLakeStorage')]","type":"LinkedServiceReference"}}],"transformations":[{"name":"Assertion"},{"name":"SplitDatetoDateMonthYear"},{"name":"selectRequiredColumn"}],"scriptLines":["source(output(","          lon as string,","          lat as string,","          temp as string,","          date as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> Staging","Staging assert(expectTrue(endsWith(temp, \"f\") || endsWith(temp, \"c\"), false, 'validtemp', null, temp + \"is not valid\"),","     expectTrue(between(toInteger(lat), -90, 90), false, 'validlat', null, lat + \"is not valid\"),","     expectTrue(between(toInteger(lon), -180, 180), false, 'validlon', null, lon + \"is not valid\")) ~> Assertion","Assertion derive(date = :SplitbySlash[1],","          month = :SplitbySlash[2],","          year = :SplitbySlash[3],","          SplitbySlash := split(date, '/')) ~> SplitDatetoDateMonthYear","SplitDatetoDateMonthYear select(mapColumn(","          lat,","          lon,","          temp,","          date,","          month,","          year","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> selectRequiredColumn","selectRequiredColumn sink(allowSchemaDrift: true,","     validateSchema: false,","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     outputAssertFailedRows: true,","     assertFailure_fileSystem: 'nagp-error-container') ~> ExportDatatoTable"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Stage_Data')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase2')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"dbo","table":"temperature"}},"dependsOn":[]}]}